.application.theme--dark.landing-page {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../../images/landing_page.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.landing-page .container {
    height: 100%;
}
